* 
  margin 0
  padding 0

html,body
  font-size 30px

section 
  margin-bottom .667rem 
  background-color #fff
  border-radius 10px
  overflow hidden

.card
  padding 1rem
  background #f5fafe
  &-wrapper 
    width 100%
    .user-info
      width 100%
      font-size 0
      &__pic
        width 100%;
        height 100%
        img 
          width 100%
      &__desc
        padding .333rem .667rem
       .name
          font-size 1rem
          color #010101
          .sex
            width 0.6rem
            height 0.6rem
            display inline-block
            background-image  url(./img/sexw.png)
            background-size cover
